<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Home</title>
        <link rel="stylesheet" href="../../assets/css/font.css">
        <link rel="stylesheet" href="../../assets/css/style.css">
        <link rel="stylesheet" href="../../../node_modules/@mdi/font/css/materialdesignicons.min.css">
        <link rel="stylesheet" href="home.css">
    </head>
    <body>
        <div class="menu-bar">
            <img src="../../assets/icons/win_icon.ico" alt="" class="menu-bar__img">
            <span class="menu-bar__icon-container">
                <i id="btn-min" class="menu-bar__icon mdi mdi-window-minimize"></i>
                <i id="btn-max" class="menu-bar__icon mdi mdi-window-maximize"></i>
                <i id="btn-close" class="menu-bar__icon mdi mdi-close"></i>
            </span>
        </div>
        
        <div class="content">
            <section class="section__mode">
                <div id="mode--lights" class="mode__container">
                    <i class="mdi mdi-lightbulb-outline"></i>         
                </div>
                <div id="mode--groups" class="mode__container">
                    <i class="mdi mdi-arrange-send-backward"></i>
                </div>
                <div id="mode--settings" class="mode__container">
                    <i class="mdi mdi-settings"></i>
                </div>
            </section>
            <section class="section__lights">
                <div class="lights__card-container">
                    
                </div>
            </section>
            <section class="section__actions">
    
            </section>
        </div>
        <script src="home.js"></script>
        <script src="../../assets/js/menuBar.js"></script>
    </body>
</html>