.content {

}

section {
    height: 578px;
    float: left;
}

.section__mode {
    width: 5%;
    background-color: #282b30;
}

.section__lights {
    width: 30%;
    background-color: #2f3136;
    overflow-y: hidden;
}

.section__lights:hover {
    overflow-y: auto;
}

.lights__card-container  {
    padding-right: 5px;
}

.lights__card-container:hover {
    padding-right: 0px;
}

.light__card {
    width: 40%;
    height: 60px;
    padding: 5px;
    margin: 5px;
    display: inline-block;
    background-color: #282b30;
}

.light__card p {
    font-size: 0.6rem;
}

.section__actions {
    width: 65%;
    background-color: #36393f;
}

.mode__container {
    height: 50px;
}

.mode__container:hover {
    background-color: #2f3136; 
    color: #fffb28;
}

.mode__container i {
    font-size: 2.3rem;
}